<p></p>

<div>
  <button style="background-color:#198754;" (click)="exportArray()" mat-raised-button color="primary">Export</button>
</div>
<br/>
<div style="width:100%" class="mat-elevation-z8">
  <table style="width:100%" matSort mat-table [dataSource]="dataSource">
    <!-- Data Richiesta Column -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data richiesta</th>
      <td mat-cell *matCellDef="let element">{{ this.servizioProva.renderDate(element.creationDate) }}</td>
    </ng-container>

    <ng-container matColumnDef="creationDate-filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never">
          <mat-label>Cerca</mat-label>
          <input matInput [formControl]="creationDateFilter">
        </mat-form-field>
      </th>
   </ng-container>

    <!-- KO Pratiche Column -->
    <ng-container matColumnDef="verificationKoDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>KO Pratiche.it</th>
      <td mat-cell *matCellDef="let element"> {{ this.servizioProva.renderDate(element.verificationKoDate) }} </td>
    </ng-container>

    <ng-container matColumnDef="verificationKoDate-filter">
      <th mat-header-cell *matHeaderCellDef>
      </th>
   </ng-container>

    <!-- Motivo KO Column -->
    <ng-container matColumnDef="motivoKo">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Motivo KO </th>
      <td mat-cell *matCellDef="let element"> {{element.motivoKo}} </td>
    </ng-container>

    <ng-container matColumnDef="motivoKo-filter">
      <th mat-header-cell *matHeaderCellDef>
      <mat-form-field  floatLabel="never">
        <mat-select [formControl]="motivoKoFilter">
          <mat-option value="">Tutti</mat-option>
          <mat-option *ngFor="let s of motiviKo" [value]="s.value">{{s.value}}</mat-option>
        </mat-select>
      </mat-form-field>
      </th>
    </ng-container>

    <!-- ID Pratica Column -->
    <ng-container matColumnDef="transactionId">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> ID pratica </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionId}} </td>
    </ng-container>

    <ng-container matColumnDef="transactionId-filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field floatLabel="never">
          <mat-label>Cerca</mat-label>
          <input matInput [formControl]="transactionIdFilter">
        </mat-form-field>
      </th>
   </ng-container>

   <ng-container matColumnDef="transactionStatus">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Stato </th>
    <td mat-cell *matCellDef="let element"> {{this.servizioProva.renderStatus(element.transactionStatus)}} </td>
  </ng-container>

 <ng-container matColumnDef="transactionStatus-filter">
  <th mat-header-cell *matHeaderCellDef>
  <mat-form-field  floatLabel="never">
    <mat-label>Tutti</mat-label>
    <mat-select [formControl]="transactionStatusFilter" multiple>
      <mat-option *ngFor="let s of this.servizioProva.statuses" [value]="s.raw">{{s.display}}</mat-option>
    </mat-select>
  </mat-form-field>
  </th>
</ng-container>

 <ng-container matColumnDef="dettagli">
  <th mat-header-cell *matHeaderCellDef> Dettagli </th>
  <td mat-cell *matCellDef="let element"><button (click)="onOpenDettaglio(element.transactionId)" style="margin:3px;" mat-stroked-button color="primary">
    <div *ngIf="element.transactionStatus === this.servizioProva.statusPresaInCarico && element.operatorAccount === this.operator.account && (element.escalation == 'false' || this.operator.canWriteAll); else elseBlock">Gestione</div>
    <ng-template #elseBlock>Dettagli</ng-template>
  </button></td>
</ng-container>

<ng-container matColumnDef="dettagli-filter">
  <th mat-header-cell *matHeaderCellDef>
  </th>
</ng-container>

<ng-container matColumnDef="prendiInCarico">
  <th mat-header-cell *matHeaderCellDef> Prendi in carico </th>
  <td mat-cell *matCellDef="let element">
    <div *ngIf="this.operator.canWriteAll && element.transactionStatus === this.servizioProva.statusPresaInCarico && element.operatorAccount !== this.operator.account">
      <button style="margin:3px;" (click)="onPrendiInCarico(element.transactionId, element.operatorAccount, true)" mat-stroked-button color="primary">Prendi In Carico con Modale</button>
    </div>
    <div *ngIf="(this.operator.canWriteAll || (this.operator.canWriteOwns && element.escalation == 'false')) &&
    (element.transactionStatus === this.servizioProva.statusDaLavorare || element.transactionStatus === this.servizioProva.statusDaLavorarePreDVO || element.transactionStatus === this.servizioProva.statusAttesaNuovaDoc)">
      <button style="margin:3px;" (click)="onPrendiInCarico(element.transactionId,element.operatorAccount, false)" mat-stroked-button color="primary">Prendi In Carico</button>
    </div>
  </td>
</ng-container>

<ng-container matColumnDef="prendiInCarico-filter">
  <th mat-header-cell *matHeaderCellDef>
  </th>
</ng-container>

<ng-container matColumnDef="companyName">
  <th mat-header-cell *matHeaderCellDef  mat-sort-header> Ragione sociale </th>
  <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
</ng-container>

<ng-container matColumnDef="companyName-filter">
  <th mat-header-cell *matHeaderCellDef>
    <mat-form-field floatLabel="never">
      <mat-label>Cerca</mat-label>
      <input matInput [formControl]="companyNameFilter">
    </mat-form-field>
  </th>
</ng-container>

<ng-container matColumnDef="subjectType">
  <th mat-header-cell *matHeaderCellDef  mat-sort-header> Forma Giuridica </th>
  <td mat-cell *matCellDef="let element"> {{servizioProva.renderSubjectType(element.subjectType)}} </td>
</ng-container>

<ng-container matColumnDef="subjectType-filter">
  <th mat-header-cell *matHeaderCellDef>
  <mat-form-field  floatLabel="never">
    <mat-label>Tutti</mat-label>
    <mat-select [formControl]="subjectTypeFilter" multiple>
      <mat-option *ngFor="let s of servizioProva.subjectTypes" [value]="s.raw">{{s.display}}</mat-option>
    </mat-select>
  </mat-form-field>
  </th>
</ng-container>

<ng-container matColumnDef="vatNumber">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Partita IVA </th>
  <td mat-cell *matCellDef="let element"> {{element.vatNumber}} </td>
</ng-container>

<ng-container matColumnDef="vatNumber-filter">
  <th mat-header-cell *matHeaderCellDef>
    <mat-form-field floatLabel="never">
      <mat-label>Cerca</mat-label>
      <input matInput [formControl]="vatNumberFilter">
    </mat-form-field>
  </th>
</ng-container>

<ng-container matColumnDef="companyFiscalCode">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> C.F. Azienda </th>
  <td mat-cell *matCellDef="let element"> {{element.companyFiscalCode}} </td>
</ng-container>

<ng-container matColumnDef="companyFiscalCode-filter">
  <th mat-header-cell *matHeaderCellDef>
    <mat-form-field floatLabel="never">
      <mat-label>Cerca</mat-label>
      <input matInput [formControl]="companyFiscalCodeFilter">
    </mat-form-field>
  </th>
</ng-container>

<ng-container matColumnDef="numberOfRequests">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Gestioni </th>
  <td mat-cell *matCellDef="let element"> {{element.numberOfRequests}} </td>
</ng-container>

<ng-container matColumnDef="numberOfRequests-filter">
  <th mat-header-cell *matHeaderCellDef>
  </th>
</ng-container>

<ng-container matColumnDef="numberOfAccounts">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Q.tá PEC </th>
  <td mat-cell *matCellDef="let element"> {{element.numberOfAccounts}} </td>
</ng-container>

<ng-container matColumnDef="numberOfAccounts-filter">
  <th mat-header-cell *matHeaderCellDef>
  </th>
</ng-container>

<ng-container matColumnDef="escalation">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Escalation </th>
  <td mat-cell *matCellDef="let element"> {{renderEscalation(element.escalation)}} </td>
</ng-container>

<ng-container matColumnDef="escalation-filter">
  <th mat-header-cell *matHeaderCellDef>
  <mat-form-field  floatLabel="never">
    <mat-select [formControl]="escalationFilter">
      <mat-option value="">Tutti</mat-option>
      <mat-option value="true">SI</mat-option>
      <mat-option value="false">NO</mat-option>
    </mat-select>
  </mat-form-field>
  </th>
</ng-container>

<ng-container matColumnDef="operatorAccount">
  <th mat-header-cell *matHeaderCellDef  mat-sort-header> Operatore </th>
  <td mat-cell *matCellDef="let element"> {{element.operatorAccount}} </td>
</ng-container>

<ng-container matColumnDef="operatorAccount-filter">
  <th mat-header-cell *matHeaderCellDef>
    <mat-form-field floatLabel="never">
      <mat-label>Cerca</mat-label>
      <input matInput [formControl]="operatorAccountFilter">
    </mat-form-field>
  </th>
</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnFilters"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator style="width:100%" #paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

</div>
